*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding: 16px 0;
    background-color: #003058;
    color: #fff;
}
header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}
header nav li a{
    text-decoration: none;
    color: #fff;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
header .container,section .container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.missoes img{
    height: 24px;
    margin-top: 50px;
}
.missoes li{
    display: inline;
    margin-left: 50px;
}
section .container{
    align-items: flex-start;
}
section{
    padding: 24px 0;
    color: #003058;
}
section h2{
    margin-bottom: 16px;
}
section{
    margin-bottom: 8px;
}
.self{
    margin-right: 32px;
    height: 680px;
}
